<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmls:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragment :: page_head('Error- Shop Admin')" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="navigation :: menu">

        </div>

        <div class="m-3">
            <h2>You don't have authorisation, contact your manager</h2>
        </div>
    </div>
</body>
</html>