<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
	xmls:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="row" id="divextraproductimages">
			<div class="col border m-3 p-2">
				<div>
					<label>Main Image: </label>
				</div>
				<div class="m-2">
					<img id="thumbnail" style="height: 150px" alt="main image"
						class="img-fluid" th:src="@{${products.mainImagePath}}">
				</div>

				<div>
					<input type="file" id="fileImage" name="fileImage" required
						accept="image/png, image/jpeg">
				</div>
			</div>


			<div class="col border m-3 p-2" id="divExtraImage0">
				<div id="extraImageHeader0">
					<label>Extra Image #1</label>
				</div>
				<div class="m-2">
					<img id="extraThumbnail1" style="height: 150px" alt="ExtraImage #1 preview"
						class="img-fluid" th:src="@{/images/ecom.jpg}">
				</div>
				<div>
					<input type="file" name="extraImage"
						accept="image/png, image/jpeg">
				</div>
			</div>
			
		</div>
	</div>
</body>
<div th:replace="fragment:: footer"></div>

</html>